<header>
    <nav>
        <div class="logo">University Services</div>
        <ul class="nav-menu">
            <li><a href="{{ url_for('festival.main') }}">Home</a></li>
            <li><a href="{{ url_for('festival.home') }}">Festival</a></li>
            <li><a href="{{ url_for('festival.news') }}">News</a></li>
            <li><a href="{{ url_for('festival.course') }}">Course registration</a></li>
            <li>
                <a href="{{ url_for('festival.logout') }}" class="logout-btn">Logout</a>
            </li>
        </ul>
    </nav>
</header>

