<header>
    <nav>
      <div class="logo">University Services</div>
      <ul class="nav-menu">
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('main.festival') }}">Festival</a></li>
        <li><a href="{{ url_for('main.notice') }}">News</a></li>
        <li><a href="{{ url_for('main.course_registration') }}">Course registration</a></li>
        <li>
          <a href="{{ url_for('main.logout') }}" class="logout-btn" id="logoutBtn">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
  
  