apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
spec:
  type: LoadBalancer
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  nginx.conf: |
    events {
      worker_connections 1024;
    }
    http {
      upstream api_gateway {
        server api-gateway:80;
      }
      upstream login_service {
        server login-service:80;
      }
      upstream course_service {
        server course-service:80;
      }
      upstream festival_service {
        server festival-service:80;
      }
      upstream main_service {
        server main-service:80;
      }
      upstream notice_service {
        server notice-service:80;
      }
      server {
        listen 80;
        server_name localhost;
        location /api/ {
          proxy_pass http://api_gateway;
        }
        location /login/ {
          proxy_pass http://login_service;
        }
        location /course/ {
          proxy_pass http://course_service;
        }
        location /festival/ {
          proxy_pass http://festival_service;
        }
        location /main/ {
          proxy_pass http://main_service;
        }
        location /notice/ {
          proxy_pass http://notice_service;
        }
      }
    }

