apiVersion: apps/v1
kind: Deployment
metadata:
  name: notice-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notice-service
  template:
    metadata:
      labels:
        app: notice-service
    spec:
      containers:
      - name: notice-service
        image: wnahd000/notice-service:latest
        ports:
        - containerPort: 5004
        env:
        - name: DB_HOST
          value: mysql
        - name: DB_USER
          value: root
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: root-password
        - name: DB_NAME
          value: notice_db
        - name: NOTICE_SERVICE_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: notice-service-secret
              key: secret-key
        - name: JWT_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: notice-service-secret
              key: jwt-secret-key

---
apiVersion: v1
kind: Service
metadata:
  name: notice-service
spec:
  selector:
    app: notice-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5004
---
apiVersion: v1
kind: Secret
metadata:
  name: notice-service-secret
type: Opaque
stringData:
  secret-key: your_notice_service_secret_key_here
  jwt-secret-key: your_jwt_secret_key_here

