<header>
    <nav>
        <div class="logo">University Services</div>
        <ul class="nav-menu">
            <li><a href="{{ url_for('notice.redirect_to_main') }}">Home</a></li>
            <li><a href="{{ url_for('notice.redirect_to_festival') }}">Festival</a></li>
            <li><a href="{{ url_for('notice.news') }}">News</a></li>
            <li><a href="{{ url_for('notice.redirect_to_course') }}">Course registration</a></li>
            <li>
                <a href="{{ url_for('notice.logout') }}" class="logout-btn">Logout</a>
            </li>
        </ul>
    </nav>
</header>

